<p>menu works!</p>
<!-- <a [routerLink]="['first']">First</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<a [routerLink]="['/menu',{outlets: {'data': ['first']}}]"> First</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['second']}}]"> Second</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['event']}}]"> Event</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['employ-show']}}]"> Employ show</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<hr/>
<router-outlet name="data"></router-outlet>